<!DOCTYPE html>
html(lang="es")
  head
    include partials/header
  body.login
    .contenedor-formulario
      h1 Iniciar sesión

      if error
        p.alerta.error= error

      if locals.mensajes
        .alertas
          each categoria in Object.keys(locals.mensajes)
            each error in mensajes[categoria]
              .alerta(class=`${categoria}`)
                p= error

      form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
        .campo
          label(for="email") Email:
          input(type="text" name="email" value= email)
        .campo
          label(for="email") Contraseña:
          input(type="password" name="password" value= password)
        .campo.enviar
          button.boton(type="submit") Entrar
        .campo.acciones
          a(href="/crear-cuenta") Crear nueva cuenta
          a(href="/recuperar") Recuperar contraseña