<!DOCTYPE html>
html(lang="es")
  head
    include partials/header
  body.login
    .contenedor-formulario
      h1= tituloPag
      p Agrega tu email para recuperar tu contraseña

      if locals.mensajes
        .alertas
          each categoria in Object.keys(locals.mensajes)
            each error in mensajes[categoria]
              .alerta(class=`${categoria}`)
                p= error

      form.caja-login(method="POST" action="/recuperar")
        .campo
          label(for="email") Email:
          input(type="text" name="email")
        .campo.enviar
          button.boton(type="submit") Recuperar
        .campo.acciones 
          a(href="/iniciar-sesion") Iniciar sesión