<!DOCTYPE html>
html(lang="es")
  head
    include partials/header
  body.login
    .contenedor-formulario
      h1= tituloPag
      p Ingresar nueva contraseña

      form.caja-login(method="POST")
        .campo
          label(for="password") Nueva contraseña:
          input(type="password" name="password")
        .campo.enviar
          button.boton(type="submit") Reestablecer