<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    h2 Confirmar cuenta
    p Ya estas casi listo, solo tienes que confirmar tu cuenta.
    a(href=`${confirmarUrl}`) Confirmar
    p Si no puede acceder al link, visite: #{confirmarUrl}