<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    h2 Reestablecer contrase単a
    p Ha solicitado recuperar su contrase単a de nuestro sitio. Haga click en el siguiente link para volver a recuperarla.
      span Este es un link temporal, tiene 1 hora para realizar el cambio. 
    a(href=`${resetUrl}`) Recuperar contrase単a
    p Si no puede acceder al link, visite: #{resetUrl}
    p Si no solicitaste reestablecer tu contrase単a, ignora este correo.      