mixin crearProyecto(proyecto = {})
  form.agregar-proyecto(action=`/nuevo-proyecto/${proyecto.id || ''}` method="POST")
    .campo
      label(for="nombre") Nombre proyecto:
      input(value=proyecto.nombre type="text" id="nombre" name="nombre")
    .campo.enviar 
      button(type="submit" class="boton") #{proyecto.nombre ? 'Guardar' : 'Agregar'}